:host {
    display: block;
    width: 340px;
    margin: 0 auto;
}

h1 {
    font-weight: lighter;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    -webkit-font-smoothing: antialiased;

    margin: 50px 0 30px;
}